<% layout('layout') -%>
<% script('/javascripts/jquery.min.js') -%>
<% stylesheet('/stylesheets/style.css') -%>
<% block('title', 'API') %>

<h1>API index</h1>
<p>&nbsp;</p>

<h3><a href="tables">tables</a></h3>
<p>Get all tables in the database</p>
